{% extends 'main/layout.html' %}

{% block title %}Создание комнаты{% endblock %}

{% block content %}
    <div class="features">
        <h1>Создание комнаты</h1>
        <div class="container_create_room">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <span>{{ error }}</span>
                {{ form.name }}<br>
                {{ form.about }}<br>
                {{ form.image }}<br>
                {{ form.game_place }}<br>
               <label>Публичная комната</label>
                {{ form.public }}<br>
                {{ form.date_show }}<br>
                 <label>Открытая комната</label>
                {{ form.access_room }}<br>
                <br>
                <button type="submit" class="button">Создать комнату</button>
            </form>
        </div>
    </div>
{% endblock %}